@font-face {
    font-family: 'Saiyan Sans';
    src: url('/assets/source/font/dragonball/SaiyanSans.woff2') format('woff2'),
        url('/assets/source/font/dragonball/SaiyanSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}