header {
  background: $dragonball_primary $goku-gif center center no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: $saiyanSans;
}
nav{
background: $newCadet_halfTransparent;
}
footer{
  height: 20vh;
  background: $dragonball_secondary;
}
#header-title{
  font-family: $saiyanSans;
  color: $ssj;
  font-size: 14em;
  text-shadow: 0px 0px 40px $ssj-aura;
}
#content{
  height: 70vh;
  background: $dragonball_primary $ssjGoku-scream center top no-repeat;
  background-size: cover;
}