$dragonball_primary: #F85B1A;
$dragonball_secondary: #072083;
$newCadet_halfTransparent: rgba(24,20,99,0.5);

$vegeta_gif: url('/assets/img/dragonball/gif/vegetassj3BG.gif');
$goku_gif: url('/assets/img/dragonball/gif/gokuSuperSaiyan.gif');
$gokussjGod_gif: url('/assets/img/dragonball/gif/gokuSSJGod.gif');
$ssjGoku_scream: url('/assets/img/dragonball/gif/ssjGokuScream.gif');

$saiyanSans: 'Saiyan Sans';

$ssj: #F4D059;
$ssj-god: #B30715;
$ssj-aura: #FDF638;

$ssjRose-gif: url('/assets/img/dragonball/gif/ssjRose.GIF');
$ssjRose-hair: #D86389;
$ssjRose-aura: #7B0219;