/*
Error: Invalid US-ASCII character "\xE2"
        on line 5 of ../vendor/twbs/bootstrap/scss/mixins/_hover.scss
        from line 7 of ../vendor/twbs/bootstrap/scss/_mixins.scss
        from line 10 of scss/home.scss

1: // stylelint-disable indentation
2: // Hover mixin and `$enable-hover-media-query` are deprecated.
3: //
4: // Origally added during our alphas and maintained during betas, this mixin was
5: // designed to prevent `:hover` stickiness on iOS—an issue where hover styles
6: // would persist after initial touch.
7: //
8: // For backward compatibility, we've kept these mixins and updated them to
9: // always return their regular psuedo-classes instead of a shimmed media query.
10: //

Backtrace:
../vendor/twbs/bootstrap/scss/mixins/_hover.scss:5
../vendor/twbs/bootstrap/scss/_mixins.scss:7
scss/home.scss:10
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/util.rb:1043:in `rescue in block in find_encoding_error'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/util.rb:1040:in `block in find_encoding_error'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/util.rb:1039:in `each'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/util.rb:1039:in `each_with_index'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/util.rb:1039:in `find_encoding_error'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/util.rb:767:in `check_sass_encoding'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/engine.rb:444:in `check_encoding!'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/engine.rb:400:in `_to_tree'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/engine.rb:321:in `to_tree'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:327:in `block in visit_import'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/stack.rb:88:in `block in with_import'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/stack.rb:88:in `with_import'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/stack.rb:79:in `block in with_base'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/stack.rb:79:in `with_base'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `visit'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:329:in `map'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/stack.rb:88:in `block in with_import'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/stack.rb:88:in `with_import'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/stack.rb:79:in `block in with_base'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/stack.rb:79:in `with_base'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `visit'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `map'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:161:in `visit'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:10:in `visit'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/engine.rb:307:in `render_with_sourcemap'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `each'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:294:in `watch'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/plugin.rb:109:in `method_missing'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:51:in `process_result'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/exec/base.rb:52:in `parse'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/lib/sass/exec/base.rb:19:in `parse!'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.5.5/bin/sass:13:in `<top (required)>'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/bin/sass:23:in `load'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/bin/sass:23:in `<main>'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/bin/ruby_executable_hooks:15:in `eval'
/home/cabox/.rvm/gems/ruby-2.0.0-p648/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid US-ASCII character \"\xE2\"\A         on line 5 of ../vendor/twbs/bootstrap/scss/mixins/_hover.scss\A         from line 7 of ../vendor/twbs/bootstrap/scss/_mixins.scss\A         from line 10 of scss/home.scss\A \A 1: // stylelint-disable indentation\A 2: // Hover mixin and `$enable-hover-media-query` are deprecated.\A 3: //\A 4: // Origally added during our alphas and maintained during betas, this mixin was\A 5: // designed to prevent `:hover` stickiness on iOS—an issue where hover styles\A 6: // would persist after initial touch.\A 7: //\A 8: // For backward compatibility, we've kept these mixins and updated them to\A 9: // always return their regular psuedo-classes instead of a shimmed media query.\A 10: //"; }
